<head>
  <meta charset="utf-8">
  <title>
    <%= @title %>
  </title>
</head>
<body>
  <div>
    <a href="/login/">
      login
    </a>
    <a href="/register/">
      register
    </a>
  </div>
</body>