<!DOCTYPE html>
<html>
<head>
  <title>
    Login
  </title>
</head>
<body>
<h1>Login</h1>
<form action="/register/" method="post">
  <label for="username">User: </label>
  <input type="text" id="username" name="username">
  <label for="password">Password:</label>
  <input type="password" id="password" name="password">
  <label for="brand1">Brand 1</label>
  <input type="text" id="brand1" name="brand1">
  <label for="brand2">Brand 2</label>
  <input type="text" id="brand2" name="brand2">
  <label for="brand3">Brand 3</label>
  <input type="text" id="brand3" name="brand3">
  <label for="brand4">Brand 4</label>
  <input type="text" id="brand4" name="brand4">
  <label for="brand5">Brand 5</label>
  <input type="text" id="brand5" name="brand5">
  <label for="brand6">Brand 6</label>
  <input type="text" id="brand6" name="brand6">
  <label for="brand7">Brand 7</label>
  <input type="text" id="brand7" name="brand7">
  <label for="brand8">Brand 8</label>
  <input type="text" id="brand8" name="brand8">
  <label for="brand9">Brand 9</label>
  <input type="text" id="brand9" name="brand9">
  <input type="submit" value="Register">
</form>
</body>
</html>